<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8">
    <title>Owners list</title>
</head>
<body>
<h1 th:text="'Owners List Page'">Index Page</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o:${owners}">
        <td th:text="${o.id}">id</td>
        <td th:text="${o.firstname}">id</td>
        <td th:text="${o.secondname}">id</td>
    </tr>
    </tbody>
</table>
</body>
</html>